<footer class="app-footer">
    <div class="footer-container">

        <div class="footer-left">
            <h3>Arkiva Digjitale</h3>
            <p>Platformë për figura të shquara historike shqiptare.</p>
        </div>

        <div class="footer-center">
            <a routerLink="/">Kreu</a>
            <a routerLink="/figura">Figura</a>
            <a routerLink="/rreth">Rreth Nesh</a>
            <a routerLink="/kontakt">Kontakt</a>
        </div>

        <div class="footer-right">
            <p>© {{ currentYear }} Arkiva Digjitale</p>
            <p>Developed by Egli Yzeiri</p>
        </div>

    </div>
</footer>
